<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <ul>
    {% for m in mg%}
        <li>{{m}}</li>
    {%endfor%}
    </ul>
    <div id="messages">

    </div>
    
    <input id="message" type="text" name="eman">
    <button id="send">Бувай, смс-очка моя!</button>

    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>

</html>